
<div class="table">
 <div class="drop">
  <thead>
   <th>All Driver Drops</th><br>
  </thead>
  <tbody>
   <tr> 
    <% @driver_drops.each do |drop| %>
     <td><%= link_to drop.branch, drop %><br></td>
    <% end %>
   </tr>
  </tbody>
  </table>
 </div>
</div>



 